.square{
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(249, 187, 255);
    cursor: pointer;
    outline: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background: rgb(255, 255, 255);
    transition: .3s all ease;
}
